# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

App-Web sync 관련/hanhayou_App_Web_sync_0527.xlsx

*.pdf

App-Web sync 관련/hanhayou_APP_WEB_sync.pdf

App-Web sync 관련/hanhayou_APP_WEB_sync.pdf

*.pdf

*.pdf

*.xlsx

*.pdf

*.numbers

*.pdf

*.numbers

*.xlsx

*.xlsx

*.xlsm

*.docx

*.pdf

*.xlsx
